/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex; /* Define o container como um flex container */
  justify-content: center; /* Centraliza o conteúdo do flex container horizontalmente */
  align-items: center; /* Centraliza o conteúdo do flex container verticalmente */
  min-height: 100vh; /* Define a altura do flex container como 100% da altura da viewport */
  padding: 0 10px; /* Define um espaçamento de 10px na horizontal */
}

.card {
  overflow: hidden; /* Define que o conteúdo do card não vaza para fora dos cantos arredondados */
  width: 300px; /* Define a largura do card como 300px */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); /* Define uma sombra leve do card */
  border-radius: 10px; /* Define um raio de 10px para as bordas do card para arredondar as cantos */
}

.card img {
  width: 100%; /* Define a largura da imagem como 100% da largura do card */
}

.card-content {
  padding: 10px; /* Define um espaçamento interno de 10px para o conteúdo do card */
}

.grid-container {
  display: grid; /* Define o container como um grid container */
  width: 100%; /* Define a largura do container como 100% */
  /* Define as colunas do grid como uma fração do espaço disponível */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px; /* Define um espaçamento de 10px entre os cards */
}
